.button {
    background-color: dodgerblue;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-size: 1.5em;
    align-items: stretch;
    font-weight: bold;
}

.button:enabled {
    cursor: pointer;
}


.button:active:enabled {
    filter: brightness(85%);
}

.button:disabled {
    background-color: darkgray;
}

.big {
    padding: 2em 0;
    font-size: 2em;
    margin: 0.25em;
    width: 10em;
}