.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0.25em;
    align-items: stretch;
}

.button:hover {
    filter: brightness(85%);
}

.button:active {
    transform: translate(0.1em, 0.1em);
}

.big {
    padding: 2em 0;
    font-size: 2em;
    margin: 0.25em;
    width: 10em;
}