.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-size: 1.5em;
    align-items: stretch;
    font-weight: bold;
}

.button:enabled {
    cursor: pointer;
}

.button:hover:enabled {
    filter: brightness(85%);
}

.button:active:enabled {
    transform: translate(0.1em, 0.1em);
}

.button:disabled {
    background-color: darkgray;
}

.big {
    padding: 2em 0;
    font-size: 2em;
    margin: 0.25em;
    width: 10em;
}