.gameFrame {
    width: 100%;
    height: 100%;
    display: flex;
}

@media (max-width: 35em) {
    .gameFrame {
        flex-direction: column;
    }
}

@media (min-height: 27em) and (min-width: 35em) {
    .rightKb {
        display: none;
    }
}

@media (max-height: 27em), (max-width: 35em) {
    .leftKb {
        display: none;
    }
}

.gameLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gameLeft > .bottom {
    display: flex;
}

.gameLeft > .bottom > .main {
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.myScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.outshots {
    flex: 1;
    display: flex;
    justify-content: center;
}

.playerStats {
    display: flex;
    align-items: center;
    flex: 1;
}

.theScore {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.scoreBoard {
    flex:1;
}