.playerScore {
    display: flex;
    width: 100%;
    text-align: center;
}

.psColumn > div {
    margin: 0.25em;
}

.psColumn {
    background-color: white;
}

.psName {
    flex: 25;
    text-align: left;
}

.psPoints, .psLegs {
    background-color: dodgerblue;
    color: white;
    flex: 5;
}

.psIcon {
    flex: 1;
    font-weight: bold;
}

.activePlayer {
    color: red
}